.home {
    text-align: center;
}

#home-title {
    grid-area: title;
}

#home-paragraph {
    grid-area: pg;
}

#home-img {
    grid-area: img;
}

.home span:nth-child(1) {
    color: #FF37B3;
}

.home span:nth-child(3) {
    color: #471D7D;
}

.home p {
    margin: 4rem 0;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.home p>a {
    color: #763BC3;
    font-weight: 500;
    transition: 0.15s;
}

.home .imgContainer {
    margin: 5rem 0;
}

.home .imgContainer :nth-child(2) {
    display: none;
}

.home img {
    width: 100%;
}

@media(min-width: 39rem) {
    .home .imgContainer {
        margin: auto;
        min-width: 20rem;
        max-width: 50rem;
    }

    .home p>a:hover {
        color: #FF37B3;
    }
}

@media(min-width: 50rem) {
    .home {
        text-align: left;
        display: grid;
        grid-template-areas:
            "title title"
            "pg img";
        justify-content: space-between;
    }

    .home p {
        max-width: 40rem;
    }
}

@media(min-width: 80rem) {
    .home .imgContainer :nth-child(1) {
        display: none;
    }

    .home .imgContainer :nth-child(2) {
        display: block;
    }

    .home p {
        max-width: 47rem;
        font-size: 2.2rem;
    }

    .home .imgContainer {
        max-width: 85rem;
        max-height: 60rem;
    }
}

@media(min-width: 111rem) {
    .home .imgContainer {
        transform: translateY(-10rem);
    }
}