.home {
    text-align: center;
}

.home span:nth-child(1) {
    color: #FF37B3;
}

.home span:nth-child(3) {
    color: #471D7D;
}

.home p {
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.home p>a {
    color: #763BC3;
    font-weight: 500;
}

.home .imgContainer {
    margin-top: 5rem;
}

.home img {
    width: 100%;
}