/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    display: flex;
    position: relative;
    align-items: center;
}

.logo .bar {
    background-color: #FF37B3;
    position: absolute;
    width: 0.1rem;
    height: 10rem;
}

.logo .text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.logo .text :nth-child(1) {
    font-size: 2.8rem;
    font-weight: 300;
    max-width: 20rem;
}

.logo .text :nth-child(2) {
    font-size: 1.2rem;
    font-weight: 600;
    color: #78737E;
}

/* MenuBtn */
.menuBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBtn.closed {
    animation: menuBtnAnimClose 0.5s ease-in-out;
}

.menuBtn.active {
    animation: menuBtnAnimOpen 0.6s ease-in-out;
}

.menuBtn .bar {
    display: block;
    width: 5rem;
    margin: 0.4rem 0;
    height: 0.3rem;
    transition: 1.2s ease-in-out;
    background-color: #78737E;
}

.menuBtn .bar:nth-child(3) {
    background-color: #FF37B3;
    width: 6rem;
    transition: 0.3s;
}

.menuBtn .bar:nth-child(2).active {
    transform: translateY(1.1rem) rotate(45deg);
}

.menuBtn .bar:nth-child(3).active {
    transform: translatex(40rem);
}

.menuBtn .bar:nth-child(4).active {
    transform: translateY(-1.1rem) rotate(-45deg);
}

/* MenuList */
.menuList {
    text-align: end;
    padding: 3rem 0;
    transform: translateY(-33rem);
    opacity: 0;
    height: 0;
    transition: 1s;
}

.menuList li span {
    position: absolute;
    transform: translateX(-1rem);
}

.menuList.active {
    transform: translateY(0);
    height: 25rem;
    opacity: 1;
}

.menuList li {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.menuList li+li {
    margin-top: 1.5rem;
}

.menuList li a.active {
    color: #777777;
    cursor: default;
}

/* medias */
@media(min-width: 39rem) {
    .logo .text :nth-child(1) {
        max-width: none;
    }

    .logo .bar {
        height: 7rem;
    }

    .logo:hover .bar {
        transform: scale(1.1);
        animation: logoHover 0.5s ease-in-out forwards;
    }

    .logo:hover {
        color: #FF37B3;
    }

    .logo:hover .text :nth-child(2) {
        color: #FF37B3;
    }
}

@media(min-width: 65rem) {
    .menuList a {
        display: flex;
        align-items: center;
    }

    .menuList li:hover {
        color: #FF37B3;
    }

    .menuList li:hover span {
        animation: menuItemHover 0.3s ease-in-out forwards;
    }

    .menuList li:hover .bar-short {
        animation: menuItemHoverShort 0.3s ease-in-out forwards;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7rem;
    }

    .menuBtn {
        display: none;
    }

    .menuList {
        display: flex;
        transform: none;
        opacity: 1;
        height: auto;
    }

    .menuList a.active .bar {
        display: none;
    }

    .menuList a .bar {
        display: inline-block;
        height: 2.5rem;
        width: 0.2rem;
        margin-right: 0.5rem;
        background-color: #FF37B3;
    }

    menu .menuList.active {
        transform: none;
        opacity: 1;
        height: auto;
    }

    .menuList li+li {
        margin-top: auto;
        margin-left: 4rem;
    }
}

/* Animations */
@keyframes menuBtnAnimOpen {
    0% {}

    50% {
        transform: translateX(15rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes menuBtnAnimClose {
    0% {}

    50% {
        transform: translateX(15rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes logoHover {
    0% {}

    50% {
        height: 2px;
        transform: translateY(4rem);
    }

    90% {
        transform: translateY(4rem) rotate(-90deg);
        height: 2px;
    }

    100% {
        transform: translateY(4rem) rotate(-90deg) translateY(14.2rem);
        height: 27.5rem;
        background-color: #ff009d;
        width: 1px;
    }
}

@keyframes menuItemHover {
    0% {}

    50% {
        height: 2px;
        transform: translateY(1.3rem);
    }

    90% {
        transform: translateY(1.3rem) rotate(-90deg);
        height: 2px;
    }

    100% {
        transform: translateY(1.3rem) rotate(-90deg) translateY(5.2rem);
        height: 11rem;
    }
}

@keyframes menuItemHoverShort {
    0% {}

    50% {
        height: 2px;
        transform: translateY(1.3rem);
    }

    90% {
        transform: translateY(1.3rem) rotate(-90deg);
        height: 2px;
    }

    100% {
        transform: translateY(1.3rem) rotate(-90deg) translateY(3rem);
        height: 6.5rem;
    }
}