/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
}

/* Logo */
.logo {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.logo .bar {
    background-color: #FF37B3;
    position: absolute;
    width: 0.2rem;
    height: 10rem;
}

.logo .text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.logo .text :nth-child(1) {
    font-size: clamp(1.6rem, 6.5vw, 2.8rem);
    font-weight: 300;
}

.logo .text :nth-child(2) {
    font-size: 1.2rem;
    font-weight: 600;
    color: #78737E;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .bar {
    display: block;
    width: 5rem;
    margin: 0.4rem 0;
    height: 0.3rem;
    background-color: #78737E;
}

.menu .bar:nth-child(2) {
    background-color: #FF37B3;
    width: 6rem;
}