/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
}

/* Logo */
.logo {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.logo .bar {
    background-color: #FF37B3;
    position: absolute;
    width: 0.2rem;
    height: 10rem;
}

.logo .text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.logo .text :nth-child(1) {
    font-size: 2.8rem;
    font-weight: 300;
    max-width: 20rem;
}

.logo .text :nth-child(2) {
    font-size: 1.2rem;
    font-weight: 600;
    color: #78737E;
}

/* MenuBtn */
.menuBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuBtn.closed {
    animation: menuBtnAnimClose 0.5s ease-in-out;
}

.menuBtn.active {
    animation: menuBtnAnimOpen 0.6s ease-in-out;
}

.menuBtn .bar {
    display: block;
    width: 5rem;
    margin: 0.4rem 0;
    height: 0.3rem;
    transition: 1.2s;
    background-color: #78737E;
}

.menuBtn .bar:nth-child(2) {
    background-color: #FF37B3;
    width: 6rem;
    transition: 0.3s;
}

.menuBtn .bar:nth-child(1).active {
    transform: translateY(1.1rem) rotate(45deg);
}

.menuBtn .bar:nth-child(2).active {
    transform: translatex(15rem);
}

.menuBtn .bar:nth-child(3).active {
    transform: translateY(-1.1rem) rotate(-45deg);
}

/* MenuList */
.menuList {
    text-align: end;
    padding: 3rem 0;
    transform: translateY(-40rem);
    height: 0;
    transition: 1s;
}

.menuList.active {
    transform: translateY(0);
    height: 25rem;
}

.menuList li {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.menuList li+li {
    margin-top: 1.5rem;
}

.menuList li a.active {
    color: #777777;
}

/* Animations */
@keyframes menuBtnAnimOpen {
    0% {}

    50% {
        transform: translateX(15rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes menuBtnAnimClose {
    0% {}

    50% {
        transform: translateX(15rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes btnClosed {}