#home-footer {
    bottom: 0;
    margin: 0 auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.802);
    border-top-right-radius: 10rem;
    background-color: #17082b;
    border-top-left-radius: 10rem;
    width: 75%;
    height: 8rem;
    text-align: center;
    font-size: 5rem;
    color: #ffffff21;
}

#home-footer svg {
    margin: 0 1rem;
}