/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

/* font-family: 'Poppins', sans-serif;

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 62.5%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: clamp(2.8rem, 12vw, 6rem);
    font-style: italic;
}

.app {
    margin: 2.8rem 2.1rem 0;
}