/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

/* font-family: 'Poppins', sans-serif;

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 62.5%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: clamp(2.8rem, 12vw, 7rem);
    font-style: italic;
    position: relative;
}

.app {
    padding: 2.8rem 2.1rem 0;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(172, 88, 255, 0.27) 100%);
    overflow: hidden;
}

@media(min-width: 39rem) {
    h1 {
        font-size: 5.3rem;
    }
}

@media(min-width: 50rem) {
    .app {
        padding: 3.2rem 11.2rem 0;
    }
}

@media(min-width: 80rem) {
    h1 {
        font-size: 8.4rem;
    }
}